{% extends 'base.html' %}

{% block cambio %}
    <div>
        <form action="/app/busqueda_usuario/" method="GET">
            {{ form.as_p }}
            <input class="btn btn-primary btn-lg" type="submit" value="Buscar">
        </form>
    <br>
    </div>
    {% for usuario in usuarios %}
        <h2>id del usuario: {{usuario.nombreUsuario}}</h2>
        <p class="lead mb-0">
            nombre del usuario: {{usuario.nombre}} <br>
            apellido del usuario: {{usuario.apellido}} <br>
            email del usuario: {{usuario.email}}
        </p>
        <hr>
    {% endfor %}
{% endblock %}